.container{
    width:1000px;
    margin-bottom: 80px;
}
.bg-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 0 40px;
   
}
.price{
    color: #ff136f;
}
.buy-button{
    background-color: #ff136f;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 25px;
    margin-top: 10px;
    cursor: pointer;

}